@import "lib/custom.bootstrap/custom.bootstrap.import.less";

* {
	outline: 0;
}

html, body {
	height: 100%;
}

fieldset.hrText {
	border: 1px solid lightgray;
	border-width: 1px 0 0;
	display: block;
	text-align: center;
}

fieldset.hrText legend {
	display: block;
	width: auto;
	font-size: 1em;
	color: gray;
	border: none;
	padding: 5px 10px;
}