<template name="adminPanel">
	<div id="adminPanel" class="panel panel-default">
		<div class="panel-heading">Admin Panel</div>
		<div class="panel-body">
			<button id="startGame" class="btn btn-primary"><i class="fa fa-gamepad"></i> Start Game</button>
		</div>
	</div>
	<div id="actionLog" class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">Action Log</div>
			</div>
		</div>
		<div class="panel-body">
			{{#each actions}}
			<p>{{#if equals type "contested"}}<b>CONTESTED:</b> {{/if}}{{calendarTime timestamp}} - {{{message}}}</p>
			{{#if equals type "contested"}}<p style="font-style: italic;">Rule in favor of <a href="#" class="ruleAssassin" style="color: blue;">Assassin</a> / <a href="#" class="ruleTarget" style="color: blue;">Target</a></p>{{/if}}
			<div style="height: 10px; border-top: 1px solid gray;"></div>
			{{/each}}
		</div>
	</div>
</template>