<template name="adminPanel">
	<div id="adminPanel" class="panel panel-primary">
		<div class="panel-heading">Admin Panel</div>
		<div class="panel-body">
			<button id="startGame" class="btn btn-primary"><i class="fa fa-gamepad"></i> Start Game</button>
		</div>
	</div>
	<div id="actionLog" class="panel panel-danger">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">Action Log</div>
			</div>
		</div>
		<div class="panel-body">
			{{#each actions}}
			<p>{{#if equals type "contested"}}<b>CONTESTED:</b> {{/if}}{{calendarTime timestamp}} - {{{message}}}</p>
			{{#if equals type "contested"}}<p style="font-style: italic;">Rule in favor of <a href="#" class="ruleAssassin" style="color: blue;">Assassin</a> / <a href="#" class="ruleTarget" style="color: blue;">Target</a></p>{{/if}}
			<div style="height: 10px; border-top: 1px solid gray;"></div>
			{{/each}}
		</div>
	</div>
	<div id="userList" class="panel panel-danger">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">Player List</div>
				<div class="col-xs-6" style="text-align: right;">Player Count: {{playerCount}}</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table id="userList" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Assassin</th>
							<th>Target</th>
							<th>Kills</th>
							<th>Controls</th>
						</tr>
					</thead>
					<tbody>
						{{#each userList}}
							<tr>
								<td style="{{statusStyle}}">{{profile.name}}</td>
								<td><span style="color: #333; background-color: #333;">{{targetName}}</span></td>
								<td>{{kills}}</td>
								<td><button data-toggle="modal" data-target="#controlPanel" data-assassin="{{_id}}" class="btn btn-sm btn-primary">Open Controls</button></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="controlPanel" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">Control Panel</h4>
				</div>
				<div class="modal-body">
					<p>Change <span class="assassinName" style="font-weight: bold;">Unknown</span>'s display name to...</p>
					<input id="name" class="form-control" placeholder="Display Name">
					<hr>
					<p>Reassign <span class="assassinName" style="font-weight: bold;">Unknown</span>'s target to...</p>
					{{>inputAutocomplete settings=settings id="target" class="form-control" placeholder="Target"}}
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="changeDisplayName" class="btn btn-primary" data-dismiss="modal">Change Display Name</button>
					<button id="reassignTarget" class="btn btn-primary" data-dismiss="modal">Reassign Target</button>
				</div>
			</div>
		</div>
	</div>
</template>