<template name="leaderboard">
	<div id="leaderboard" class="panel panel-default">
		<div class="panel-heading">Leaderboard</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table id="leaderboardTable" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Assassin</th>
							<th>Kills</th>
						</tr>
					</thead>
					<tbody>
						{{#each user in userList}}
							<tr>
								<td>{{user.profile.name}}</td>
								<td>{{user.kills}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>