<template name="leaderboard">
	<div id="leaderboard" class="panel panel-danger">
		<div class="panel-heading">Leaderboard</div>
		<div class="panel-body">
			<div style="text-align: center;">
				<img src="/banner.jpg" style="width: 70%; max-width: 350px;">
				<br>
				<small>Image courtesy of Adam Weinreb</small>
			</div>
			{{#if userList}}
			<hr>
			<div class="table-responsive">
				<table id="leaderboardTable" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Assassin</th>
							<th>Kills</th>
						</tr>
					</thead>
					<tbody>
						{{#each user in userList}}
							<tr class="{{#unless user.alive}}killed{{/unless}}">
								<td>{{user.profile.name}}</td>
								<td>{{user.kills}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{else}}
			<p>The game has not yet started.</p>
			{{/if}}
		</div>
	</div>
</template>