<template name="login">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="page-header">
					<p class="h1">AHS Assassin</p>
				</div>
				<p>Please log in with only one of these services. Otherwise you may have multiple people after you.</p>
				<button id="facebookLogin" class="btn btn-info btn-block"><i class="fa fa-facebook-square"></i> Log in with Facebook</button>
				<fieldset class="hrText">
					<legend>OR</legend>
				</fieldset>
				<button id="googleLogin" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Log in with Google</button>
			</div>
		</div>
	</div>
</template>