<template name="target">
	<div id="target" class="panel panel-default">
		<div class="panel-heading">Target</div>
		<div class="panel-body">
			<div class="media">
				<div class="media-left">
					<img class="media-object" src="/favicon.png" style="width: 64px; height: 64px;">
				</div>
				<div class="media-body">
					<h2 class="media-heading" style="color: red;">Current Target</h2>
					<p class="lead">{{target}}</p>
				</div>
			</div>
			<div class="btn-group btn-group-sm">
				<button class="btn btn-danger">I killed this person</button>
				<button class="btn btn-primary">I was killed</button>
			</div>
		</div>
	</div>
	{{#if currentUser.assassinations}}
	<div id="actionLog" class="panel panel-default">
		<div class="panel-heading">Action Log</div>
		<div class="panel-body">
			<p>Kills: {{currentUser.assassinations}}</p>
			{{#each action in actions}}
			<div>{{action}}</div>
			{{/each}}
		</div>
	</div>
	{{/if}}
</template>